In [ ]:
# True Equivalents
# False Equivalents
# AND , OR Operators in Conditional Statements
# Conditional Statements Practice
# Loops Practice
# Iterables  # Range
# bool() builtin function
# slicing in different Data Types

In [ ]:
## 
'Aprove' != 'aprove' #( Same)

True

In [ ]:
### AND ----> True, True --> True
              #True, False --> False
              # False, True --> False
              # False, False --> False

### OR ---->  True, False --> True
            # False, True --> True
            # False, False --> False
            # True, True --> True

In [ ]:
x = 10

if (x < 20) and (x < 5):
  print('Yes I won')

else:
  print('Lose')

Lose

In [ ]:
len(a)

6

In [ ]:
a = [1,2,3, 'Uttam', True, 'Dhanya']

for i in a:
  if i == 'Uttam':
    print('Yes Welcome Uttam')
  else:
    print('No your are the wroing user')

No your are the wroing user
No your are the wroing user
No your are the wroing user
Yes Welcome Uttam
No your are the wroing user
No your are the wroing user

In [ ]:
b = [1,2,3,4,5,6,7,8,9,10]

for i in b: # iteration

  if i % 2 ==0:

    print('True')

  else: 
    
    print('False')

False
True
False
True
False
True
False
True
False
True

In [ ]:
1 % 2

1

In [ ]:
list(range(1, 21))  ## [], list() ### iterator

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
for i in range(1, 20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
tuple(range(20, 101))

(20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100)

In [ ]:
even = []
odd = []

for i in range(1, 100):
  if i % 2 ==0:
    even.append(i)
  else:
    odd.append(i)

In [ ]:
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
########### Indexing #######################
a = [30,49, 8, 37]

print(a)

[30, 49, 8, 37]

In [ ]:
a[3]

37

In [ ]:
a[-3]

49

In [ ]:
###################################### Slicing (to get the limited values)########################################
a = list(range(1, 20))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
a[1:4]

[2, 3, 4]

In [ ]:
a[0: 5]

[1, 2, 3, 4, 5]

In [ ]:
c = 'Uttam'
c[0:3]

'Utt'

In [ ]:
x = 'Machine Learning'
x[8:]

'Learning'

In [ ]:
#### run a for loop for the values Uttam Grade

for i in 'Uttam Grade':
  print(i, end = '')

Uttam Grade

In [ ]:
t = (1,2,3,4,5,6)
t[1:3]

(2, 3)

In [ ]:
## write a program to print the multiplication table of value 2
a = int(input('Enter the no.'))
for i in range(11,a):
  print(i*2)

Enter the no.22
22
24
26
28
30
32
34
36
38
40
42

In [ ]:
a = int(input("Enter"))
for i in range(1,11):

  print(i,'*',a,'=',i*a)

Enter17
1 * 17 = 17
2 * 17 = 34
3 * 17 = 51
4 * 17 = 68
5 * 17 = 85
6 * 17 = 102
7 * 17 = 119
8 * 17 = 136
9 * 17 = 153
10 * 17 = 170