In [2]:
########### SORT #################### To sort the values 
a = [1000,2,3,4,5,6, -1, -2, 0, 100]
a.sort()

In [3]:
a

[-2, -1, 0, 2, 3, 4, 5, 6, 100, 1000]

In [7]:
b = [1000,2,3,4,5,6, -1, -2, 0, 100]
b.sort()

In [9]:
b

[-2, -1, 0, 2, 3, 4, 5, 6, 100, 1000]

In [11]:
b.index(100) ################### index function ############

8

In [13]:
b.index(-1)

1

In [17]:
c = [100,200,'Uttam', 'Manish', '1000', 100000, 'Uttam', 'Uttam']
c.index('Uttam')

2

In [18]:
c.count('Uttam')

3

In [20]:
dir(c)  ### Directory ###

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
d = {"Uttam": [1,2,3,4], 
     'Pujari': [100,20,30,40]}
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [26]:
a =(1,2,3,4)
print((a[1]))
print((a[0]))

2
1

In [33]:

a =(input('Enter'))
b = a.split(' ')
print((b[1]), end = ' ')
print((b[0]))

Enter1 2
2 1

In [37]:
c = '                     Hello My Name is Uttam'
print(c)

                     Hello My Name is Uttam

In [ ]:
########### lstrip, rstrip, strip ######## To remove the extra space

In [38]:
c.lstrip()

'Hello My Name is Uttam'

In [42]:
c = '                     Hello My Name is               Uttam                       '
print(c)

                     Hello My Name is               Uttam

In [43]:
c.rstrip()

'                     Hello My Name is               Uttam'

In [44]:
c.strip()

'Hello My Name is               Uttam'

In [ ]:
########################## string Formatting ###################

In [49]:
a = input('Enter Your Name ')
b = int(input("Enter your Age"))

if a == 'Uttam':

  print(f'Welcome {a} your age is {b}')

else:

  print("Wrong User")

Enter Your Name Anirudh
Enter your Age21
Wrong User

In [52]:
a = input('Enter Your Name ')
b = int(input("Enter your Age"))
c = int(input("GRaduation Year"))


f'Welcome {a} your age is {b} and you have done your Master at year {c}'

Enter Your Name Uttam
Enter your Age10
GRaduation Year3000

'Welcome Uttam your age is 10 and you have done your Master at year 3000'

In [55]:
a = input('Enter Your Name ')
b = int(input("Enter your Age"))
c = int(input("GRaduation Year"))


'Welcome {0} your age is {2} and you have done your Master at year {1}'.format(a, b, c)

Enter Your Name Uttam
Enter your Age10
GRaduation Year28378

'Welcome Uttam your age is 28378 and you have done your Master at year 10'

In [56]:
a = input('Enter Your Name ')
b = input('How much money you want to deposit ')
c = input('Your Bank account no. ')

f'Hello {a}, How are you, How much money you want to credit {b} and your bank account no is {c}'

Enter Your Name Uttam
How much money you want to deposit 2000
Your Bank account no. 1234556689

'Hello Uttam, How are you, How much money you want to credit 2000 and your bank account no is 1234556689'

In [ ]:
str="One year has {} months, {} weeks and {} days.".format()


print(str)

In [59]:
# Display numbers from -10 to -1 using for loop
a = []
for i in range(-11, -1):
  i = i+1
  a.append(i)
print(a)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [61]:
# Find the factorial of a given number (5)
# 5 * 4 * 3 * 2 * 1 = 

num = int(input('ENTER A NUMBER'))
x1 = 1
for i in range(1, num+1):
  x1 = i*x1
print(x1, end=' ')

ENTER A NUMBER5
120

In [ ]:
# Use a loop to display elements from a given list present at odd index positions
# my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Calculate the cube of all numbers from 1 to a given number (6)

In [ ]:
# Find the sum of the series upto n terms (5)

In [ ]:
# Turn every item of a list into its square
# numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Add new item to list after a specified item
# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]



# Expected output:

# [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Extend nested list by adding the sublist

# list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# # sub list to add
# sub_list = ["h", "i", "j"]



# Expected Output:

# ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']