In [ ]:
a = input('Enter the name')
b = input('Enter the Profession')
print(f'Hello my name is {a} and I am a {b}') ## f (formatting)

Enter the nameDhanya
Enter the ProfessionData Scientist
Hello my name is Dhanya and I am a Data Scientist

In [ ]:
a = input('Enter the name')
b = input('Enter the Profession')
print('Hello my name is {1} and I am a {0}'.format(a, b)) ## f (formatting)

Enter the nameDhanya
Enter the ProfessionData Engineer
Hello my name is Data Engineer and I am a Dhanya

In [ ]:
print('hello my name is dhanya and I am lsdfkjsdlf;ds')

In [ ]:
print('Hello my name is venom and I am a Data Scientist')

In [ ]:
print('Hello my name is Imaran and I am a Data Scientist')

In [ ]:
############################# Functions (Grinder, Mixer) ######################
a = 30
b = 40
c = a * b
print(c)

200

In [ ]:
def summ(x, y):
  z = x + y
  return z

In [ ]:
summ(10, 20)

30

In [ ]:
summ(20, 40)

60

In [ ]:
summ(1000, 2038)

3038

In [ ]:
def divide(a, b):
  c = a ** b
  return c

In [ ]:
divide(10, 20)

100000000000000000000

In [ ]:
divide(100, 20)

10000000000000000000000000000000000000000

In [ ]:
a = [1,2,3,4,5,6,8, 10, 20,30]
def even_values(x):
  div_even = []
  for i in x:

    if i % 2 == 0:

      div_even.append(i)

  
  return f'This is Even Values {div_even}'


a = [1,2,3,4,5,6,8, 10, 20,30]
def odd_values(x):
  odd_even = []
  for i in x:

    if i % 2 != 0:

      odd_even.append(i)

  
  return f'This is Odd Values {odd_even}'

In [ ]:
even_values([3,4,5])

'This is Even Values [2, 4, 6, 8, 10, 20, 30]'

In [ ]:
odd_values(a)

'This is Odd Values [1, 3, 5]'

In [ ]:
even_values([1,2,3,4,5])

('This is Even Values [2, 4]', 'This is Odd Values [1, 3, 5]')

In [ ]:
b = [10,20,399, 40948, 48]
even_values(b)

('This is Even Values [10, 20, 40948, 48]', 'This is Odd Values [399]')

In [ ]:
def add_two_numbers():
  
  return 'Hello'

In [ ]:
add_two_numbers()

'Hello'

In [ ]:
# Write a program to create function calculation() such that it can accept two variables and 
# calculate addition and subtraction. 
# Also, it must return both addition and subtraction in a single return call.

In [ ]:
def calculation():
    a = int(input("Enter first value: "))
    b = int(input("Enter first value: "))
    return f"addition is {a+b} subtraction is {a-b}"

calculation()

Enter first value: 20
Enter first value: 50

'addition is 70 subtraction is -30'

In [ ]:
def calculate():
  a = int(input('Enter a number here: '))
  b = int(input('Enter a number here: '))
  add = []
  sub = []
  for i in (a,b):

    add = a+b

    sub = a-b

  return f'addition of a number {add} substraction of a number {sub}'
  
print(calculate())

In [ ]:
def rakesh() :
    x =int(input('1st'))
    y = int(input('2nd'))
    c=x-y
    d=x*y
    e=x/y
    print(c,d,e)
    return c,d,e

rakesh()

1st2
2nd5
-3 10 0.4

(-3, 10, 0.4)

In [ ]:
#### *args  ( Non - Keyword Argument)
###  ** kwargs  ( Keyword Argument)

In [ ]:
def uttam(*args):
  for i in args:
    print(i)

In [ ]:
uttam('Hello', 'Uttam', 'Grade', 'Dhanya', 'Kumar', 'Mayur', 'Gaurav', 'spidy', 10)

Hello
Uttam
Grade
Dhanya
Kumar
Mayur
Gaurav
spidy
10

In [ ]:
def dhanya(a, b):
  return a + b

In [ ]:
def dhanya(*args):
  return args

In [ ]:
dhanya('dhaya', 'kajal', 'Uttal')

('dhaya', 'kajal', 'Uttal')

In [ ]:
# def func(a, *args):
#   print('First a', a)
#   for i in args:
#     print(i)

In [ ]:
def dhanya(**kwargs):
  for i, j in kwargs.items():
    print('Key: and Values', i,'--> ',  j)

In [ ]:
dhanya(a = 'Uttam', b = 'Dhanya', c = 'Gaurav', d = 'rkaesh')

Key: and Values a -->  Uttam
Key: and Values b -->  Dhanya
Key: and Values c -->  Gaurav
Key: and Values d -->  rkaesh

In [ ]:
def dhanya(*args, **kwargs):
  for i, j in kwargs.items():
    print('Key: and Values', i,'--> ',  j)