In [ ]:
######## SET AND DICTIONARY ############
# Data Structure / Container
# set , set, {}
# Dict, dict, {}, key: value

In [1]:
s = {1,1,2,3,4}
print(s)

{1, 2, 3, 4}

In [2]:
s[0]

TypeError: ignored

In [5]:
d = {1: 'Uttam',
     2: 'Dhanya',
     3: 'hema', 
     2: 'Nikhil'}

In [6]:
d

{1: 'Uttam', 2: 'Nikhil', 3: 'hema'}

In [9]:
d[2]

'Nikhil'

In [ ]:
# Delete a list of keys from a dictionary

# sample_dict = {
#     "name": "Kelly",
#     "age": 25,
#     "salary": 8000,
#     "city": "New york"
# }

# # Keys to remove
# keys = ["name", "salary"]

In [13]:
###################### LOCAL AND GLOBAL Variable ###############
a = 'DhanyA'  # Global function(Inside or outside the function)
def abc(x):
  y = x + 'Machine Learning' + a # Local varialbe(Inside the fucntion only)
  return y

In [14]:
abc('Uttam')

'UttamMachine LearningDhanyA'

In [15]:
a

'DhanyA'

In [21]:
x = 10
y = 20
z = 1100 # GLocal 
def new_sum(x, y):
  Z = x + y - 5 + z # Local 
  return Z

In [22]:
new_sum(x, y)

1125

In [24]:
z

1100

In [ ]:
## Local Variable ( will use only inside the function )
## Global Variable ( will use inside and outside the function )

In [31]:
## make a function which will divide by 2 the no. will be [20,30,40]
M = 100 # GLobal
def div_by_two(n):
  print('New M', M)     
  for i in n:
    m = i/2   # local
    print(m)
print('Outside the fucntion',M)

div_by_two([20,30,40])

Outside the fucntion 100
New M 100
10.0
15.0
20.0

In [28]:
m

NameError: ignored

In [55]:
def num():
  global g
  g = 'Uttam'
  


num()

In [56]:
g

'Uttam'

In [45]:
g

NameError: ignored

In [46]:
def fan():
  global x
  x = 'Machine Learning'

In [47]:
fan()

In [48]:
print(x)

Machine Learning

In [58]:
#  Find the largest item from a given list
# x = [4, 6, 8, 24, 12, 2]

In [61]:
#  Count the occurrence of each element from a list
# sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
def countX(lst, x):
    return lst.count(x)
 
 

lst = [11,45,8,11,23,45,23,45,89]
x = 11
print('{} has occurred {} times'.format(x,
                                        countX(lst, x)))

11 has occurred 2 times

In [62]:
# Iterate a given list and check if a given element exists as a key’s value in a dictionary. 
# If not, delete it from the list


# Given:

# roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
# sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
for i in roll_number:
    if not i in sample_dict.values():
        roll_number.remove(i)
print(roll_number)

[47, 69, 76, 95, 97]

In [ ]:
#Get all values from the dictionary and add them to a list but don’t add duplicates
# speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

In [68]:
s=[11,45,8,11,23,45,45,23,89]
b=set(s)
for i in b:
    x=s.count(i)

    print("{}:{}".format(i,x))

8:1
11:2
45:3
23:2
89:1
{8, 11, 45, 23, 89}

In [67]:
s = [11, 45, 8, 11, 23, 45, 23, 45, 23, 45, 89]
for i in s:
  print(i, s.count(i))

11 2
45 4
8 1
11 2
23 3
45 4
23 3
45 4
23 3
45 4
89 1

In [ ]:
# Write a Python program to get a list, sorted in increasing order by the last element in each tuple 
#from a given list of non-empty tuples

# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]