In [59]:
### CLasses

In [60]:
class employee:
  def __init__(self, first, last, salary):
    self.first = first
    self.last = last
    self.salary = salary
    self.email = first + '.' + last + '@edyoda.com'

  def fullname(self):
    return 'first name {} and last name {} and the salary is {}'.format(self.first, self.last, self.salary)

  def apply_value(self):
    self.salary = int(self.salary * 200)

In [61]:
# def dsfldsk # function

In [62]:
emp1 = employee('Uttam', "Grade", 100)
emp2 = employee('Dhanya', "Uthappa", 200)

In [63]:
emp1.email

'Uttam.Grade@edyoda.com'

In [64]:
emp2.email

'Dhanya.Uthappa@edyoda.com'

In [65]:
emp1.fullname()

'first name Uttam and last name Grade and the salary is 100'

In [66]:
emp2.fullname()

'first name Dhanya and last name Uthappa and the salary is 200'

In [67]:
print(emp1.salary)

100

In [68]:
emp1.apply_value()

In [69]:
print(emp1.salary)

20000

In [72]:
## Pillars of Oops ##
# Inheritance ( parent child relation )

class employee:
    num_employee=0
    raise_amount=1.04
    def __init__(self, first, last, sal):
        self.first=first
        self.last=last
        self.sal=sal
        self.email=first + '.' + last + '@company.com'
        employee.num_employee+=1
    def fullname (self):
        return '{} {}'.format(self.first, self.last)
    def apply_raise (self):
        self.sal=int(self.sal * mul)

        
class developer(employee):   ################################ Inheritance ###
  mul = 5.6
 
emp_1=developer('aayushi', 'johari', 1000000)
print(emp_1.mul)

5.6

In [74]:
print(emp_1.sal)

1000000