In [19]:
############################### Topics to Cover today #######################################
## Condional Statements 
## For loops

In [20]:
## Condional Statements ( some condition ) work on a boolean values ( I am checking something / some no.)

In [21]:
x = 10
x > 7 ## condition

True

In [22]:
x < 20

True

In [23]:
x = 20

if x > 10:
  print('Uttam')

Uttam

In [24]:
if x == 30:
  print('Uttam')
else:
  print('Dhanya')

Dhanya

In [25]:
a = 'Uttam'

if a == 'uttam':
  print('Yes my name is uttam')

else:
  print('No you are not uttam')

No you are not uttam

In [26]:
m = 10

if m / 2 == 5:
  print('Yes divisible')
  print('Uttam')

else:
  print('Not divisible')

Yes divisible
Uttam

In [27]:
10/2

5.0

In [28]:
5.0 == 5

True

In [28]:
################### LOOPS ########################

## WHILE LOOP
## FOR LOOP

In [31]:
a = [1,2,3,4,5, 6,7,8,9, 10]

for j in a:

  print(j)

1
2
3
4
5
6
7
8
9
10

In [33]:
b = ['Uttam', 'Dhanya', 1,2,3,4,5, 23.4]

for m in b:
  print('-=----->', m)

-=-----> Uttam
-=-----> Dhanya
-=-----> 1
-=-----> 2
-=-----> 3
-=-----> 4
-=-----> 5
-=-----> 23.4

In [28]:
################ Nested if statement ###################
a = 10

if a / 3 != 0:
  if a == 1:
    print('you are using nested if condition')

In [36]:
a = 10

if a / 3 != 0:
  if a == 10:
      print('you are using nested if condition')

  else:
    print('Wroing user')

else:
    print('Nested if condtion')

you are using nested if condition

In [35]:
10 /3

3.3333333333333335